* {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(58, 58, 220);
    color: rgb(243, 233, 233);
    padding: 1rem;
    box-shadow: 0.3rem 0rem 8px rgb(27, 26, 26);
}

header h1 {
    font-size: 3rem;
}

#calculator {
    width: 50%;
    margin: 2rem auto;
    border: solid .2rem rgb(58, 58, 220);
    border-radius: 6px;
    text-align: center;
    color:rgb(44, 44, 129);
    padding: 1.5rem;
}

#calculator h2 {
    margin-bottom: 3rem;
}

#calculator-input-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#calculator-input-list li {
    display: flex;
    align-items: center;
}

#calculator-input-list label {
    font-size: 1.8rem;
    margin-right: 0.75rem;
    display: inline-block;
}

#calculator-input-list input {
    padding: 0.5rem;
    border: solid .1rem rgb(58, 58, 220);
    border-radius: 6px;
    font-size: 1.2rem;
}

#calculator-input-list input:focus {
    background-color: rgb(215, 210, 210);
}

#calculator-btn-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: flex-start;
    align-items: start;
    padding: 0;
    margin: 4rem auto 0 auto;
    list-style: none;


}

.btn-container-elm {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-container-elm p {
    border-bottom: solid 2px rgb(48, 48, 151);
    padding: 0.5rem 2rem;
    margin-left: 8rem;
    font-size: 1.2rem;
}

.calculator__btn {
    background-color: rgb(58, 58, 220);
    padding: 1rem 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 1rem;
    color: rgb(243, 233, 233);
    transition: background-color 0.1s ease-in;
    font-size: 1.3rem;
}

.calculator__btn:hover {
    background-color:rgb(48, 48, 151);
}

.invisible {
    display: none;
}

.visible {
    display: inline-block;
}
